body {
  font-family: "Didact Gothic", sans-serif;
  text-align: left;
}
.container-fluid {
  padding: 0% 10% 3% 10%;
}
.white-section {
  margin-top: 5%;
  padding: 5% 2% 8%;
  background-color: #fff;
}
.black-background {
  padding: 1% 2% 4% 2%;
  color: #fff;
  background-color: #2a0944;
  text-align: left;
}
p {
  padding: 1%;
  font-size: 1.2rem;
  color: #2a2828;
}
h1 {
  font-family: "Poppins", sans-serif;
  font-size: 8rem;
}
h2 {
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 3.5rem;
}
h3 {
  font-family: "Poppins", sans-serif;
  font-size: 3rem;
}
a,
li {
  color: #a12568;
  text-decoration: none;
  list-style: none;
}
a:hover {
  color: #fec260;
}
.about-section,
.about-section p {
  background-color: #fec260;
  padding: 2% 5% 3%;
  font-family: "Inter", sans-serif;
  line-height: 1.4;
  font-size: 1.6rem;
  color: #2a0944;
  text-align: center;
}

.header-Project {
  font-family: "Poppins", sans-serif;
  margin-left: 45px;
  -webkit-text-fill-color: #2a0944;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #fec260;
  font-size: 7.5rem;
}
.typewriter {
  color: #2a0944;
  padding-left: 25px;
  font-family: "Poppins", sans-serif;
  overflow: hidden;
  border-right: 0.2em solid #a12568;
  white-space: nowrap;
  margin: 1px auto;
  letter-spacing: 0.15em;
  animation: typing 3s steps(30, end), blink-caret 1s step-end infinite;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: #a12568;
  }
}

.navbar {
  padding: 0 0 2.5rem;
}

.nav-item {
  padding: 0 25px;
  color: #8f8f8f;
}

.nav-link {
  color: #a12568;
  text-decoration: none;
  font-size: 3rem;
  font-family: "Didact Gothic", sans-serif;
  transition: 3s all ease-in-out;
}
.nav-link:focus,
.nav-link:hover {
  color: #7fbbde;
  transform: scale(1.4);
}
.navbar-toggler-icon {
  color: lightgoldenrodyellow;
}

.slideImages {
  width: 100%;
  height: 700px;
  background-color: #ffffff10;
  -webkit-filter: blur(2px);
  filter: blur(2px);
}

#slideImg:hover {
  -webkit-filter: blur(0px);
  filter: blur(0px);
}
.carousel-caption {
  font-family: "Inter", normal;
  font-size: 3rem;
}
.subheading {
  text-align: center;
  font-family: "Didact Gothic", sans-serif;
  color: #fff;
}

/* Footer Section */
Footer {
  padding-top: 5%;
  text-align: center;
}
.social-icon {
  margin: 20px 10px;
  font-size: 1.5rem;
  color: #7d7777;
  transition: 0.3s all ease-in-out;
}
.social-icon:hover {
  transform: scale(1.4);
}

@media (max-width: 1200px) {
  #title {
    text-align: center;
  }
  .container-fluid,
  .briefHello-box,
  .black-background {
    padding: 1% 5% 2%;
  }
  .wavy {
    position: static;
  }

  .white-section h2 {
    font-size: 1rem;
  }
  .nav-link {
    font-size: 1rem;
  }
  #slideImg:hover {
    width: 100%;
    height: 450px !important;
    -webkit-filter: blur(3px);
    filter: blur(3px);
  }
  .carousel-caption {
    font-family: "Inter", sans-serif;
    font-size: 1.2rem;
  }
  .carousel-inner button {
    width: 20%;
    height: 20%;
  }
}
.wavy {
  position: relative;
  top: 220%;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}
.wavy svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 123px;
  transform: rotateX(180deg);
}
.wavy .shape-fill {
  fill: #2a0944;
}

.hide {
  opacity: 0;
  filter: blur(2px);
  transform: translateY(-100%);
  transition: all 5s;
}
@media (prefers-reduction-motion) {
  .hide {
    transition: none;
  }
}
.show {
  opacity: 1;
  filter: blur(0);
  transform: translateY(0);
}
#topBtn {
  /* if the display is block then it will appear first */
  display: none;
  position: fixed;
  bottom: 18px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #a12568;
  color: white;
  cursor: pointer;
  padding: 10px;
  border-radius: 4px;
}

#topBtn:hover {
  background-color: #fec260;
}

.glitch {
  font-size: 7rem;
  font-weight: bold;
  position: relative;
  text-shadow: 0.05em 0 0 #7fbbde, -0.03em -0.04em 0 #a12568,
    0.025em 0.04em 0 #fec260;
  animation: glitch 725ms infinite;
}

.glitch span {
  position: absolute;
  top: 0;
  left: 0;
}

.glitch span:first-child {
  animation: glitch 500ms infinite;
  clip-path: polygon(0 0, 100% 0, 100% 35%, 0 35%);
  transform: translate(-0.04em, -0.03em);
  opacity: 0.75;
}

.glitch span:last-child {
  animation: glitch 375ms infinite;
  clip-path: polygon(0 65%, 100% 65%, 100% 100%, 0 100%);
  transform: translate(0.04em, 0.03em);
  opacity: 0.75;
}

@keyframes glitch {
  0% {
    text-shadow: 0.05em 0 0 #7fbbde, -0.03em -0.04em 0 #a12568,
      0.025em 0.04em 0 #fec260;
  }
  15% {
    text-shadow: 0.05em 0 0 #7fbbde, -0.03em -0.04em 0 #a12568,
      0.025em 0.04em 0 #fec260;
  }
  16% {
    text-shadow: -0.05em -0.025em 0 #7fbbde, 0.025em 0.035em 0 #a12568,
      -0.05em -0.05em 0 #fec260;
  }
  49% {
    text-shadow: -0.05em -0.025em 0 #7fbbde, 0.025em 0.035em 0 #a12568,
      -0.05em -0.05em 0 #fec260;
  }
  50% {
    text-shadow: 0.05em 0.035em 0 #7fbbde, 0.03em 0 0 #a12568,
      0 -0.04em 0 #fec260;
  }
  99% {
    text-shadow: 0.05em 0.035em 0 #7fbbde, 0.03em 0 0 #a12568,
      0 -0.04em 0 #fec260;
  }
  100% {
    text-shadow: -0.05em 0 0 #7fbbde, -0.025em -0.04em 0 #a12568,
      -0.04em -0.025em 0 #fec260;
  }
}
/* Line of Text aka marquee */
.marquee {
  overflow: hidden;
  text-transform: uppercase;
  background-color: #ffdc00;
}

.marqueeInner {
  display: flex;
}

.marqueeLine {
  flex-shrink: 0;
  margin: 0;
  font-family: "Inter", sans-serif;
  font-size: 2rem;
  padding: 60px 12px;
  min-width: 100%;
  white-space: nowrap;
  animation-name: linedText;
  animation-duration: 8s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

@keyframes linedText {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100%);
  }
}
