body {
  font-family: "Didact Gothic", sans-serif;
  text-align: left;
}

.briefHello-box > p {
  font-family: "Inter", sans-serif;
  font-size: 1.4rem;
  color: #918c8c;
  text-align: left;
}

h2 {
  -webkit-text-fill-color: black;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #d7f0d2;
}

h5 {
  font-family: "Inter", sans-serif;
  font-size: 1.2rem;
  color: #fff;
  text-align: center;
}
.myPort {
  font-family: "Poppins", sans-serif;
  -webkit-text-fill-color: black;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #ffed00;
  font-size: 6.5rem;
}
.myName {
  font-family: "Inter", sans-serif;
  padding: 0;
  font-size: 3.5rem;
  font-weight: bold;
}
.nice-hello {
  font-size: 1.6rem;
  color: #ffed00;
  z-index: -1;
}

.container-fluid {
  padding: 5% 5% 2%;
}

.white-section {
  background-color: #fff;
}

/* Navigation Bar */
.navbar {
  padding: 0 0 2.5rem;
}

.navbar-brand {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  -webkit-text-fill-color: black;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #ffed00;
}

.nav-item {
  padding: 0 5px;
  color: #8f8f8f;
}

.nav-link {
  color: #f236cf;
  text-decoration: none;
  font-size: 2rem;
  font-family: "Didact Gothic", sans-serif;
}
.nav-link:focus,
.nav-link:hover {
  color: #7fbbde;
}

/* Buttons */

.download-button {
  margin: 5% 3% 5% 0;
}
.navbar-toggler-icon {
  color: lightgoldenrodyellow;
}

#title {
  background-color: black;
  color: #fff;
  text-align: left;
}

#title .container-fluid {
  padding: 2% 5% 0 5%;
}
#briefHello {
  position: relative;
}
#techStack {
  color: #0f6292;
  font-weight: bold;
  font-size: 1.2rem;
}

.briefHello-title {
  color: #0f6292;
  text-shadow: #8f8f8f;
  font-size: 5.5rem;
  position: relative;
  z-index: 1;
}

.briefHello-box p {
  padding: 2%;
  text-align: left;
  position: relative;
  z-index: 1;
  animation-duration: 7s;
  animation-name: helloSlide;
  animation-iteration-count: 1;
  animation-direction: alternate;
}
@keyframes helloSlide {
  from {
    margin-left: 100%;
    width: 500%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

/*  Image */
.title-image {
  width: 100%;
  height: 90%;
  transform: none;
  position: static;
  right: 60%;
}
.tilt {
  position: relative;
  width: 350px;
  height: 380px;
  transform: rotate(10deg);
  left: 5%;
}
.image-fluid {
  width: 80%;
  height: 80%;
}

/* jagged bdgd */

.spacing {
  background-image: url(/images/jagged2.png);
  aspect-ratio: 860/500;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 100px;
}

#slideImg {
  width: 100%;
  height: 500px;
}

.third-heading {
  text-align: center;
  font-family: "Didact Gothic", sans-serif;
  font-size: 3.5rem;
  font-weight: bolder;
  color: #ffed00;
}

/* Footer Section */
Footer {
  text-align: center;
}
.social-icon {
  margin: 20px 10px;
  font-size: 1.5rem;
  color: #8f8f8f;
}

@media (max-width: 1028px) {
  #title {
    text-align: center;
  }
  .title-image {
    position: static;
    transform: rotate(0);
  }

  .yellowLayer {
    position: static;
  }
  .wavy {
    position: static;
  }
  .tilt {
    transform: none;
  }
  #slideImg {
    width: 100%;
    height: 400px !important;
  }

  .carousel-caption,
  h3,
  h5 {
    font-size: 1rem;
  }
  .carousel-inner button {
    width: 20%;
    height: 20%;
  }
}
.corner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  z-index: 1;
}
.corner svg {
  position: static;
  display: block;
  width: calc(136% + 1.3px);
  height: 300px;
}

.corner .shape-fill {
  fill: black;
}
.wavy {
  position: relative;
  top: 220%;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.wavy svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 123px;
  transform: rotateX(180deg);
}

.wavy .shape-fill {
  fill: white(149, 21%, 68%);
}

.animatedBand-moves {
  position: absolute;
  top: 25%;
  left: 10%;
  transform: translateY(-20%);
  z-index: -1;
}
.animatedBand {
  z-index: 0;
}

.hide {
  opacity: 0;
  filter: blur(2px);
  transform: translateX(-100%);
  transition: all 1s;
}
@media (prefers-reduction-motion) {
  .hide {
    transition: none;
  }
}
.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}
